.chapter(data-title='Server Notifications and Alerts')
  .step(data-file='src/main/resources/administrators.json')
    :markdown
      ## What does this thing do?

      This [Spark](http://sparkjava.com/) sample application demonstrates
      how to send SMS alerts to a list of system administrators if something goes
      wrong on your server. In this tutorial, we'll show you the key bits of code
      to make this work.

    p
      a(href="https://customers.twilio.com/178/emc/", target="_blank").
        See how EMC uses Twilio SMS to send IT alerts to 68,000 employees.

    :markdown
      Let's get started!

      ---

      **See Also:**
      * [Spark: Getting Started](http://sparkjava.com/documentation.html)

  .step(data-file='src/main/resources/administrators.json')
    :markdown
      ## List server admins

      Create a list of administrators who should be notified if a server error occurs.
      Each administrator must have a `phoneNumber`.

      ---

      **See Also:**
      * [JSON](//www.json.org/)

  .step(data-file='src/main/java/utils/Client.java',
  data-highlight='9-14')
    :markdown
      ## Configure Twilio client

      In order to send a message we'll need to initialize the [Twilio Java Helper
      Library](https://www.twilio.com/docs/java/install),
      which requires reading our `TWILIO_ACCOUNT_SID` and `TWILIO_AUTH_TOKEN`
      defined as environment variables.

      ---

      **See Also:**
      * [Twilio Java Helper Library](//www.twilio.com/docs/java/install)
      * [Twilio Java SDK](//mvnrepository.com/artifact/com.twilio.sdk/twilio)

  .step(data-file='src/main/java/App.java',
  data-highlight='14-15')
    :markdown
      ## Handle all errors

      In a Spark application we can handle exeptions of a configured type for
      all routes and filters by using Exception Mapping.

      ---

      **See Also:**
      * [Spark: Exception Mapping](http://sparkjava.com/documentation.html#exception-mapping)

  .step(data-file='src/main/java/App.java',
  data-highlight='16-19')
    :markdown
      ## Create a custom alert message

      Here we create an alert message to send out via text message. You might also
      decide to include a picture with your alert message, maybe a screenshot of the
      application when the crash happened?

      ---

      **See Also:**
      * [String.Format](http://docs.oracle.com/javase/7/docs/api/java/lang/String.html#format)

  .step(data-file='src/main/java/utils/Repository.java',
  data-highlight='22')
    :markdown
      ## Reading the admins from the JSON file

      Next we read the admins from our JSON file. We're relying on the
      [Gson](https://github.com/google/gson) Java library to convert our JSON
      text file into `Administrator` objects, which we created in our application.

      ---

      **See Also:**
      * [Gson](https://github.com/google/gson)

  .step(data-file='src/main/java/utils/Client.java',
  data-highlight='27-45')
    :markdown
      ## Sending a text message

      There are the three parameters needed to [send an
      SMS](https://www.twilio.com/docs/quickstart/java/sms/sending-via-rest)
      using the [Twilio REST API](https://www.twilio.com/docs/api/rest):
      `From`, `To`, and `Body`. [US and Canadian phone
      numbers](https://www.twilio.com/help/faq/sms/is-mms-supported-for-all-carriers-in-us-and-canada)
      can also send an image with the message.

      ---

      **See Also:**
      * [REST API Docs for Message resource](https://www.twilio.com/docs/api/rest/message)
      * [Your message logs in the account portal](https://www.twilio.com/user/account/log/messages)

  .step
    :markdown
      ## Where to next?

      That's it! We've just implemented an automated server notification system
      that can send you server alerts if anything goes wrong. If you're a Java
      developer working with Twilio, you might want to check out these other
      tutorials.

      [**Automated Survey**](https://www.twilio.com/docs/howto/walkthrough/automated-survey/java/spark)

      Instantly collect structured data from your users with a survey conducted
      over a voice call or SMS text messages

      [**Appointment
      Reminders**](https://www.twilio.com/docs/howto/walkthrough/appointment-reminders/java/spark)

      Send your customers a text message when they have an upcoming appointment,
      this tutorial shows you how to do it from a background job.

      ### Did this help?

      Thanks for checking this tutorial out! If you have any feedback
      to share with us, we'd love to hear it.
      [Contact the Twilio Developer Education Team](mailto:deved-oss@twilio.com) to let us know what you think.

